<body>
    <div class="main">
        <div id="img2" class="img">
            <img id="img1" src="../../assets/images/—Pngtree—concept banking logo_4017929.png" alt="">
        </div>
        <div class="head">
            <h3 >My Bank</h3>
            <h6 >{{aim}}</h6>
        </div>
        <form action="" [formGroup]="loginForm">
            <div class="form">
                <!-- <input type="text" name="" id="usn" placeholder="Username"> -->
                <input formControlName="acno" type="input"  [placeholder]="acc" name="acno" id='log_accnt' required /> <br>
                <div  style="color: red; margin-left:60px; text-decoration: underline; "   *ngIf="this.loginForm.get('acno')?.errors && this.loginForm.get('acno')?.touched">
                    invalid acno
                </div>
                <!-- placeholder in [] for property binding -->
                <input formControlName="pswd" type="input"  placeholder="Password" name="pswd" id='log_pass' required />
                <div  style="color: red; margin-left:60px; text-decoration: underline; "   *ngIf="this.loginForm.get('pswd')?.errors && this.loginForm.get('pswd')?.touched">
                    invalid pswd
                </div>
                <br>
                <input id="button" type="button" value="Login" (click)="login()" class="btn btn-primary">
                <!-- event binding -->
        
        
                <!-- <label for="name" class="form__label">Name</label> -->
              </div>
        </form>
    
          <div id="foot">
            <a >Forget password </a> or <a routerLink="register" >Sign up</a>
            
          </div>
    </div>
    <script src="./bank.js"></script>
</body>
