<body>
    <div class="main">
        <div id="img2" class="img">
            <img id="img1" src="../../assets/images/—Pngtree—concept banking logo_4017929.png" alt="">
        </div>
        <div class="head">
            <h3 >My Bank</h3>
            <h6 >{{aim}}</h6>
        </div>
        <div class="form">
            <!-- <input type="text" name="" id="usn" placeholder="Username"> -->
            <input #acno type="input"  [placeholder]="acc" name="acno" id='log_accnt' required /> <br>
            <!-- placeholder in [] for property binding -->
            <input  #pswd  type="input"  placeholder="Password" name="pswd" id='log_pass' required />
            <br>
            <input id="button" type="button" value="Login" (click)="login(acno,pswd)" class="btn btn-primary">
            <!-- event binding -->
    
    
            <!-- <label for="name" class="form__label">Name</label> -->
          </div>
          <div id="foot">
            <p>Forget password or Sign up</p>
            
          </div>
    </div>
    <script src="./bank.js"></script>
</body>
