<body>
    <div class="main">
        <div id="img2" class="img">
            <img id="img1" src="../../assets/images/—Pngtree—concept banking logo_4017929.png" alt="">
        </div>
        <div class="head">
            <h3>My Bank</h3>
        </div>
        <div class="form">
            <form action="" [formGroup]="registerForm" >
                <input  formControlName="uname" type="text" name="" id="s_usn" placeholder="Username">
                <div  style="color: red; margin-left:60px; text-decoration: underline; "   *ngIf="this.registerForm.get('uname')?.errors && this.registerForm.get('uname')?.touched">
                    invalid user
                </div>
            <input  formControlName="acno" type="input"  placeholder="Account Number" name="name" id='s_accnt' required />
            <br>
            <div  style="color: red; margin-left:30px; text-decoration: underline; "   *ngIf="this.registerForm.get('acno')?.errors && this.registerForm.get('acno')?.touched">
                invalid account number
            </div>
            <input  formControlName="pswd" type="input"  placeholder="Password" name="name" id='s_pass' required />
            <br>
            <div  style="color: red; margin-left:50px; text-decoration: underline; "   *ngIf="this.registerForm.get('pswd')?.errors && this.registerForm.get('pswd')?.touched">
                invalid password
            </div>
            <input id="button" type="button" value="Register" (click)="register()" class="btn btn-primary">

            </form>
            

            <!-- <label for="name" class="form__label">Name</label> -->
          </div>
          <div id="foot">
            <a routerLink=""> Login in</a>
            
          </div>
    </div>
</body>