<body>
    <div class="main">
        <div id="img2" class="img">
            <img id="img1" src="../../assets/images/—Pngtree—concept banking logo_4017929.png" alt="">
        </div>
        <div class="head">
            <h3>My Bank</h3>
        </div>
        <div class="form">
            <input type="text" name="" id="s_usn" placeholder="Username">
            <input type="input"  placeholder="Account Number" name="name" id='s_accnt' required /> <br>
            <input type="input"  placeholder="Password" name="name" id='s_pass' required />
            <br>
            <input id="button" type="button" value="Register" onclick="register()" class="btn btn-primary">


            <!-- <label for="name" class="form__label">Name</label> -->
          </div>
          <div id="foot">
            <p> Sign up</p>
            
          </div>
    </div>
    <script src="/bank.js"></script>
</body>